* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*ALERT START*/
.alert-container {
  padding: 0 84px;
  background-color: #f0a7a1;
}
.alert {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  align-items: center;
  position: relative;
}

.alert-message {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #000;
}
.alert-message a {
  color: #000;
}

.alert-help {
  display: inline-block;
  position: absolute;
  right: 0;
}

/*ALERT END */

/* HEADER SATART*/
.header {
  display: flex;
  margin: 0 auto;
  padding: 0 3%;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 15px -20px;
}
.nav_bar .ul_list li {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
}
.nav_bar .ul_list li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 222px;
  height: 49px;
}
.logo .logo_name {
  font-size: 25px;
  font-family: "Montserrat";
}
.nav_bar {
  display: flex;
  flex-wrap: wrap;
}
.header_actions {
  display: flex;
}
.header_actions div {
  margin-left: 15px;
}
.header .header_actions .user .user_icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3ab39b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  line-height: 40px;
}
.header .header_actions .header_heart {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  color: #3ab39b;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.header .header_actions .shopping_cart {
  position: relative;
}
.header .header_actions .shopping_cart .shopping_cart_icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #f7f7f7;
  color: #3ab39b;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.header .header_actions .shopping_cart .shopping_cart_number {
  background-color: #3ab39b;
  color: #fff;
  position: absolute;
  top: -4%;
  right: -7%;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}
.menu_icon input[type="checkbox"] {
  display: none;
}
.menu_icon {
  color: #3ab39b;
  display: none;
  font-size: 25px;
}

/* HEADER END */
/* MAIN  SATART*/
.main {
  margin: 40px 0;
  width: 100%;
}

.main-details-container {
  margin-left: 50px;
}
.main-new-price {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #000;
  margin-right: 80px;
}
.main-old-price {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #919191;
  margin-right: 27px;
  text-decoration: line-through;
}
.main-product-solde {
  border: none;
  width: 59px;
  height: 25px;
  margin: 34px 55px 18px 22px;
  padding: 5px 15px;
  border-radius: 13px;
  color: #fff;
  background-color: #336667;
}
.main-product-marque {
  margin-bottom: 24px;
}
.main-product-marque-name a {
  margin: 8px 0 6px 8px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #686868;
  text-decoration: none;
}
.huile-base p,
.product-origine p,
.product-quantity p {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
}
.huile-base {
  margin-bottom: 24px;
}
.product-origine {
  margin-bottom: 32px;
}
.product-quantity {
  display: inline-block;
}
.huile-base span,
.product-origine span {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 1.3;
  text-align: left;
  color: #000;
  border: 1px solid #e4e4e4;
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.huile-base span:hover,
.product-origine span:hover {
  border: 1px solid #3ab39b;
}
.product-quantity-number {
  width: 115px;
  height: 50px;
  padding: 14px 0px;
  border-radius: 25px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
  text-align: center;
  display: inline-block;
}
.product-quantity-number i {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.06;
  text-align: center;
  color: #e4e4e4;
  user-select: none;
}

.quantity-number {
  display: inline-block;
  user-select: none;
  width: 50px;
  text-align: center;
  border: none;
  font-size: 18px;
  padding-left: 10px;
}
.add-panier {
  user-select: none;
  display: inline-block;
  margin: 8px 16px 16px 7px;
  padding: 14px 30px;
  border-radius: 30px;
  background-color: #3ab39b;
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.main-product-heart {
  width: 50px;
  height: 50px;
  padding: 16px 16px 15px;
  border: solid 1px #e4e4e4;
  border-radius: 50%;
  display: inline-block;
  color: #e4e4e4;
}
.download {
  width: 328px;
  height: 42px;
  padding: 12px 30px 11px;
  border-radius: 25px;
  border: solid 1px #3ab39b;
}
.download span {
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  color: #000;
}

/* SWIPPER START */

.swiper-container-vertical {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.big-slider-container {
  position: relative;
  width: 100%;
  padding-top: 80%; /* 16:9 Aspect Ratio */
}
.big-slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel {
  position: relative;
  padding: 10px 30px;
}

.thumbs-next,
.thumbs-prev {
  position: absolute;
}

.thumbs-next:after,
.thumbs-prev:after {
  content: "" !important;
}

.thumbs-prev {
  left: 0;
}

.thumbs-next {
  right: 0;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 74px;
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  width: 10%;
  height: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  border: 3px solid #3ab39b;
  box-sizing: border-box;
}

.swiper-wrapper {
  user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* SWIPPER END*/

/* MAIN END */
/* TABS SECTION START */
.tabs-section {
  max-width: 75%;
  padding: 10px;
  margin: 0 auto;
}
ul {
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li {
  display: inline-block;
  font-size: 1.25em;
  line-height: 40px;
  margin: 0 8px;
}
.nav-tabs .active a {
  border-bottom: 4px solid #3ab39b;
  padding: 0 5px 5px 5px;
}
.nav-tabs a {
  text-decoration: none;
  cursor: pointer;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.nav-tabs li a {
  padding: 0 5px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #000;
  display: block;
  height: 34px;
  user-select: none;
}

.tab-content {
  margin-top: 15px;
}
.tab-content div {
  font-size: 16px;
  line-height: 1.56;
}
/*TABS SECTION END*/

/* PRODUCTS SATART */
.wrapper {
  padding: 30px 55px;
}

.poducts .products_title {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 50px;
}
.product-item__image {
  display: block;
}
.product-item__image img {
  width: 100%;
}
.poducts .products_container {
  display: flex;
  margin: 0 3%;
  flex-wrap: wrap;
  justify-content: center;
}
.products_item {
  position: relative;
  height: auto;

  border: solid 1px #e4e4e4;
  background-color: #fff;
  justify-content: space-between;
}
.product-item__content {
  padding: 16px 15px 25px;
}
.product_name {
  font-size: 20px;
  display: block;
  line-height: 1.33;
  text-align: left;
  color: #336667;
  text-decoration: none;
}
.product_desc {
  font-family: "Montserrat";
  display: block;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.19;
  text-align: left;
  color: #000;
  margin-bottom: 10px;
}
.products_item .product_mark {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  color: #686868;
}
.products_item .product_price {
  width: 303px;
  height: 32px;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;

  line-height: 1.33;
  text-align: left;
  color: #000;
}

.product_nature span {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 1.3;
  text-align: left;
  color: #000;
  background-color: #f7f7f7;
  margin-right: 1px;
  padding: 5px;
}

.products_item .product_icon {
  width: 26px;
  height: 26px;
  background-color: #f0a7a1;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: center;
}
.products_item .product_icon i {
  color: #fff;
  vertical-align: middle;
  line-height: 26px;
}

.text-style-1 {
  font-size: 18px;
}
.text-style-2 {
  font-size: 14px;
}

/*PRODUCTS END */

/* INFORMATIONS SATART */
.informations {
  background-color: #f7f7f7;
  text-align: center;
}
.informations .informations_item {
  text-align: center;
}
.informations .informations_item .information_name {
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #383838;
}
.informations .information_image {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 70px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.information_image img {
  line-height: 70px;
  align-items: center;
  vertical-align: middle;
}
.informations .informations_item .information_desc {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #336667;
  padding-bottom: 20px;
}

/* INFORMATIONS  END*/
/* NEWSLETTER START*/
.newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3ab39b;
  padding-top: 50px;
}
.input-newsletter {
  display: flex;
}

.newsletter .newsletter_paragraph {
  font-size: 36px;
  width: 50%;

  line-height: 1.33;
  text-align: right;
  color: #fff;
}
.newsletter .newsletter_form {
  width: 40%;
  margin: 0 auto;
}
.newsletter .newsletter_form input {
  display: block;
}
.newsletter .input_mentions {
  display: flex;
  justify-content: flex-start;
}
.newsletter .newsletter_form label {
  display: inline-block;
  width: 418px;
  font-family: "Montserrat";
  font-size: 10px;

  line-height: 1.3;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}
.newsletter .newsletter_form label a {
  text-decoration: none;
  color: #204546;
}
.newsletter .newsletter_form input[type="checkbox"] {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.newsletter .newsletter_form input[type="email"] {
  display: inline-block;
  width: 73%;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  margin-bottom: 12px;
  margin-right: 20px;
}
.newsletter .newsletter_form .neswsletter_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #336667;
  text-align: center;
}
.newsletter .newsletter_form .neswsletter_icon i {
  color: #fff;
  vertical-align: middle;
  line-height: 50px;
  font-size: 20px;
}

/* NEWSLETTER END*/

/* DESCRIPTION START */
.description {
  background-color: #204546;
  padding: 50px 146px;
}
.description p {
  font-family: "Montserrat";
  font-size: 14px;

  line-height: 1.56;
  text-align: center;
  color: #fff;
}

/* DESCRIPTION END */
.input {
  display: flex;
}

/* nos_infos START*/
.nos_infos {
  background-color: #336667;
  padding-top: 70px;
}
.infos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 84px;
  border-bottom: 1px solid #fff;
}
.nos_infos h3 {
  font-size: 24px;

  line-height: 1.33;
  text-align: left;
  color: #fff;
  margin-bottom: 17px;
}
.nos_infos .info_logo img {
  display: block;
  margin: 0 auto 38px;
}
.nos_infos ul li {
  list-style: none;
}
.nos_infos ul li a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #e4e4e4;
}

.info_logo p {
  width: 222px;
  height: 60px;
  margin: 4px 40px 51px 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
/* nos_infos END*/

/*FOOTER START*/
.footer {
  padding: 15px 84px 16px;
  background-color: #336667;
  color: #fff;
}
.footer p {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-right: 40px;
}
.footer .footer_icons {
  display: inline-block;
  margin-right: 120px;
}
.footer_icons div {
  display: inline-block;
}
.footer .footer_icons a {
  text-decoration: none;
  font-size: 18px;
  padding-left: 15px;
  color: #fff;
}
.footer .footer_paiment {
  display: inline-block;
}
.footer_paiment img {
  display: inline-block;
}
.footer .footer_paiment img {
  margin-right: 8px;
  margin-left: 8px;
  width: 38px;
  height: 25px;
  border-radius: 3px;
}
.footer .egio {
  display: inline-block;
  margin-left: 400px;
}

/*FOOTER END*/
